<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <div class="form-body p-4">
        <h4><%= @party.name %></h4>
        <table class="table">
          <tbody>
            <tr>
              <td>概要</td>
              <td><%= @party.description %></td>
            </tr>
            <tr>
              <td>活動地域</td>
              <td>activity_area</td>
            </tr>
            <tr>
              <td>活動回数</td>
              <td>42</td>
            </tr>
            <tr>
              <td>メンバー数</td>
              <td>24</td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-4 pl-0">
            <%= link_to "編集", edit_party_path(@party.id), class:"btn btn btn-success btn-lg btn-block" %>
          </div>
          <div>
            <%= link_to "削除", party_path(@party.id), class:"btn btn-outline-danger btn-lg", method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>